/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ddd;
  color: #232628;
}

/* Header styles */
header {
  background-color: #E15002;
  color: white;
  padding: 15px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

header nav a:hover {
  color: #adb5bd;
}

/* Main content styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
 /* padding: 20px;*/
  color: #232628;
}

/* Form styles */
.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 50px;
}

.form-container label {
  flex: 1 1 100%;
  font-size: small;
}

.form-container input, 
.form-container button {
  flex: 1 1 calc(33.333% - 10px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-weight: bold;
  color: #232628;
}

.form-container button {
  background-color: #E15002;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
}

.form-container button:hover {
  background-color: #c5642f;
}

#generar-reporte {
  flex: 1 1 100%;
  background-color: #E15002;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#generar-reporte:hover {
  background-color: #c5642f;
}

#generar-reporte:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Table styles */
.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  min-height: 300px;
  position: relative;
}

.reporte-tabla {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.reporte-tabla th {
  padding: 12px;
  text-align: left;
  word-wrap: break-word; /* Allows text to wrap within cells */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #232628;
}

.reporte-tabla th {
  background-color: #f2f2f2;
}

.reporte-tabla td {
  overflow: hidden; /* Ensures the text-overflow works */
  text-overflow: ellipsis; /* Adds ellipsis for long text */ /* Adjust as needed */
  white-space: nowrap; /* Prevents text from wrapping */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  list-style: none;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.page-item {
  margin: 0 2px;
}

.page-item .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #adb5bd;
  background-color: #fff;
  text-decoration: none;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #E15002;
  border-color: #E15002;
}

.page-item .page-link:hover {
  color: #fff;
  background-color: #c5642f;
  border-color: #E15002;
}

#total-ventas {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
  color: #fff;
}


/* Responsive adjustments */

/* For screens with a maximum width of 700px */
@media (max-width: 700px) {
  .reporte-tabla th, 
  .reporte-tabla td {
    padding: 8px;
  }

  .pagination .page-link{
    padding: 0.4rem 0.6rem;
  }
}

/* For screens with a maximum width of 400px */
@media (max-width: 400px) {
  .reporte-tabla th, 
  .reporte-tabla td {
    padding: 6px;
    font-size: 14px; /* Smaller font size for smaller screens */
  }

  .pagination .page-link {
    padding: 0.3rem 0.5rem;
    font-size: 14px; /* Smaller font size for pagination buttons */
  }

  #total-ventas {
    font-size: 1em;
  }
}

/* For screens with a maximum width of 300px */
@media (max-width: 300px) {
  .reporte-tabla th, 
  .reporte-tabla td {
    padding: 4px;
    font-size: 12px; /* Even smaller font size for very small screens */
  }

  .pagination .page-link {
    padding: 0.2rem 0.4rem;
    font-size: 12px; /* Smaller font size for pagination buttons */
  }

  #total-ventas {
    font-size: 0.9em;
  }
}

/* Footer styles */
footer {
  background-color: #E15002;
  color: white;
  text-align: center;
  padding: 10px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

