/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

header {
  background-color: #E15002;
  color: white;
  text-align: center;
}

header {
  padding: 2.5em 0;
  position: relative;
}

nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

nav a {
  color: white;
  font-weight: bold;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2em;
  position: relative;
}

#cart-icon {
  position: relative;
}

#cart-count {
  background-color: #E15002;
  color: white;
  font-weight: bold;
  border-radius: 100%;
  padding: 2px 6px;
  font-size: 0.9em;
  position: absolute;
  top: -14px;
  right: -14px;
}

/* Main and Section Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

/* Product Styles */
#products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 800px;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 300px;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product h3, .product p {
  margin: 10px 0 5px 0;
}

/* Button Styles */
button {
  background-color: #E15002;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #c5642f;
}

.add-to-cart i {
  margin-right: 5px;
}

.cart-item-quantity button, #checkout, #empty-cart {
  background-color: #007bff;
}

.cart-item-quantity button:hover, #checkout:hover {
  background-color: #0056b3;
}

#empty-cart {
  background-color: #dc3545;
}

#empty-cart:hover {
  background-color: #bd2130;
}

#checkout, #empty-cart {
  width: 100%;
  margin-top: 10px;
}

/* Cart Styles */
#cart-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#cart-items li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

#cart-items img {
  max-width: 50px;
  margin-right: 10px;
  border-radius: 4px;
}

.cart-item-details {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
}

.remove-item {
  background-color: #dc3545;
  border: none;
  color: #fff;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.remove-item:hover {
  background-color: #bd2130;
}

#total-price-container {
  margin-top: 20px;
  text-align: end;
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#cart-empty-message {
  text-align: center;
  color: #999;
  font-size: 1.2em;
  margin-top: 20px;
}

/* Spinner Styles */
.spinner, .circle {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Splash Screen Styles */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E15002;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  z-index: 1000;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.splash-content {
  text-align: center;
  color: #ffffff;
}

.splash-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}